@keyframes cakra {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes btn-open-invitation {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  45% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@keyframes cloud3 {
  0% {
    transform: translateY(-3vh);
  }
  45% {
    transform: translateY(-10vh);
  }
  90% {
    transform: translateY(-3vh);
  }
}
@keyframes wayang-mobile-show {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(120px);
  }
}
@keyframes wayang-mobile-rotate {
  0% {
    transform: translateY(120px) rotate(0deg);
  }
  45% {
    transform: translateY(120px) rotate(10deg);
  }
  100% {
    transform: translateY(120px) rotate(0deg);
  }
}

@keyframes gunungan-2 {
  0% {
    transform: rotate(20deg);
  }
  45% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(20deg);
  }
}
@keyframes gunungan-2-mobile-show {
  from {
    transform: translateY(110px) rotate(20deg);
  }
  to {
    transform: translateY(20px) rotate(20deg);
  }
}
@keyframes gunungan-2-mobile-rotate {
  0% {
    transform: translateY(20px) rotate(20deg);
  }
  45% {
    transform: translateY(20px) rotate(30deg);
  }
  100% {
    transform: translateY(20px) rotate(20deg);
  }
}

@keyframes gunungan {
  0% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(10deg);
  }
}
@keyframes gunungan-mobile-show {
  from {
    transform: translateY(130px) rotate(10deg);
  }
  to {
    transform: translateY(0px) rotate(10deg);
  }
}
@keyframes gunungan-mobile-rotate {
  0% {
    transform: translateY(0px) rotate(10deg);
  }
  45% {
    transform: translateY(0px) rotate(20deg);
  }
  100% {
    transform: translateY(0px) rotate(10deg);
  }
}
@keyframes up-down-chevron {
  0%{
    transform: translate(-50%, 50%);
  }
  45%{
    transform: translate(-50%, 100%);
  }
  100%{
    transform: translate(-50%, 50%);
  }
}

@keyframes floatCloud {
  0% {
    transform: translateY(-10);
  }
  50% {
    transform: translateY(-30px); /* Ubah jumlah piksel sesuai kebutuhan */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatCloud2 {
  0% {
    transform: translateY(-20);
  }
  50% {
    transform: translateY(-40px); /* Ubah jumlah piksel sesuai kebutuhan */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatCloud3 {
  0% {
    transform: translateY(-40);
  }
  50% {
    transform: translateY(-60px); /* Ubah jumlah piksel sesuai kebutuhan */
  }
  100% {
    transform: translateY(0);
  }
}
